<mat-card class="wrapper my-2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>新規会員登録</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="register-form" [formGroup]="registerForm">
      <mat-form-field class="register-form-control">
        <mat-label>名前</mat-label>
        <input matInput
          placeholder="名前を入力してください"
          type="text"
          formControlName="name"
          value=""
          class="register-form-control"
         />
      </mat-form-field>
      <br>
      <mat-form-field class="register-form-control">
        <mat-label>メールアドレス</mat-label>
        <input matInput
          placeholder="user@example.com"
          type="email"
          formControlName="mailAddress"
          value=""
          class="register-form-control"
         />
      </mat-form-field>
      <br>
      <div *ngIf="formValid(password)" class="register-form-valid">*パスワードが未入力です</div>
      <div *ngIf="isMatchPassword()" class="register-form-valid">*パスワードが一致しません</div>
      <mat-form-field class="register-form-control">
        <mat-label>パスワード</mat-label>
        <input matInput
          placeholder="パスワードを入力してください"
          type="password"
          class="register-form-control"
          formControlName="password"
          (blur)="checkPasswords()"
        >
      </mat-form-field>
      <br>
      <mat-form-field class="register-form-control">
        <mat-label>確認用パスワード</mat-label>
        <input matInput
          placeholder="パスワードを入力してください"
          type="password"
          class="register-form-control"
          formControlName="passwordConfirm"
          (blur)="checkPasswords()"
        >
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary"
        (click)="register($event)"
        [disabled]="!registerForm.valid"
      >登録</button>
    </form>
  </mat-card-content>
</mat-card>
