table {
  width: 100%;
}
.user-group-form-control{
  width: 80%;
  margin-left: 10px;
}

.user-group-form-valid {
  margin-left: 125px;
  text-align: left;
  color: red;
}

.user-group-form-button {
  margin-left: 10px;
}

.user-group-form-span {
  padding-right: 20px;
}
