.wish-form-control{
  width: 80%;
}

.wish-form{
  text-align: center;
}

.wish-form-valid {
  margin-left: 125px;
  text-align: left;
  color: red;
}

.button-margin {
  margin-left: 10px;
}

.title-margin {
  margin-top: 16px;
}
