<mat-card class="wrapper my-2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>ログイン</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form" [formGroup]="loginForm">
      <mat-form-field class="login-form-control">
        <mat-label>メールアドレス</mat-label>
        <input matInput
          placeholder="user@example.com"
          type="email"
          formControlName="mailAddress"
          value=""
          class="login-form-control"
         />
      </mat-form-field>
      <br>
      <div *ngIf="formValid(password)" class="login-form-valid">*パスワードが未入力です</div>
      <mat-form-field class="login-form-control">
        <mat-label>パスワード</mat-label>
        <input matInput
          placeholder="パスワードを入力してください"
          type="password"
          class="login-form-control"
          formControlName="password"
        >
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary"
        (click)="login($event)"
        [disabled]="!loginForm.valid"
      >ログイン</button>
    </form>
    <button (click)="test()">button</button>
  </mat-card-content>
</mat-card>
