img {
  height: 250px;
  object-fit: cover;
  text-align: center;
}

$defaultDuration: 0.3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, 0.6);

@mixin hideTapHighlightColor() {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  box-shadow: 0 4 6px rgba(0, 0, 0, 0);
}

.wish-list-card {
  display: inline-block;
  transition-duration: $defaultDuration;
  transition-property: transform;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

}

.card-transform{
  transform: scale(0.95);
  cursor: pointer;
}

.delete-icon{
  display: inline-block;
  transition-duration: $defaultDuration;
  transition-property: transform;
  cursor: pointer;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();
}
